<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/api01DB</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_schema">api01DB</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <mapping resource="com/utc/projetAPI01/beans/Adress.hbm.xml"/>
        <mapping resource="com/utc/projetAPI01/beans/Comments.hbm.xml"/>
        <mapping resource="com/utc/projetAPI01/beans/Discussion.hbm.xml"/>
        <mapping resource="com/utc/projetAPI01/beans/Evaluation.hbm.xml"/>
        <mapping resource="com/utc/projetAPI01/beans/EvaluationScore.hbm.xml"/>
        <mapping resource="com/utc/projetAPI01/beans/Fund.hbm.xml"/>
        <mapping resource="com/utc/projetAPI01/beans/Idea.hbm.xml"/>
        <mapping resource="com/utc/projetAPI01/beans/MakeFund.hbm.xml"/>
        <mapping resource="com/utc/projetAPI01/beans/PhaseContext.hbm.xml"/>
        <mapping resource="com/utc/projetAPI01/beans/Proposal.hbm.xml"/>
        <mapping resource="com/utc/projetAPI01/beans/Redaction.hbm.xml"/>
        <mapping resource="com/utc/projetAPI01/beans/Thumb.hbm.xml"/>
        <mapping resource="com/utc/projetAPI01/beans/Utilisateur.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
