<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/api01DB</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_schema">api01DB</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <mapping resource="Adress.hbm.xml"/>
        <mapping resource="Comments.hbm.xml"/>
        <mapping resource="Discussion.hbm.xml"/>
        <mapping resource="Evaluation.hbm.xml"/>
        <mapping resource="EvaluationScore.hbm.xml"/>
        <mapping resource="Fund.hbm.xml"/>
        <mapping resource="Idea.hbm.xml"/>
        <mapping resource="MakeFund.hbm.xml"/>
        <mapping resource="PhaseContext.hbm.xml"/>
        <mapping resource="Proposal.hbm.xml"/>
        <mapping resource="Redaction.hbm.xml"/>
        <mapping resource="Thumb.hbm.xml"/>
        <mapping resource="Utilisateur.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
