<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>projetAPI01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadUserHomepage</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.LoadUserHomepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadUserHomepage</servlet-name>
    <url-pattern>/user/homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IdeaDetailsServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.IdeaDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdeaDetailsServlet</servlet-name>
    <url-pattern>/user/ideaDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IdeaDetailsServlet</servlet-name>
    <url-pattern>/admin/ideaDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchIdeaServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.SearchIdeaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchIdeaServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadUserIdeasProposedServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.LoadUserIdeasProposedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadUserIdeasProposedServlet</servlet-name>
    <url-pattern>/user/ideas/proposed</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadUserIdeasEvaluatedServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.LoadUserIdeasEvaluatedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadUserIdeasEvaluatedServlet</servlet-name>
    <url-pattern>/user/ideas/evaluated</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadUserIdeasPledgedServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.LoadUserIdeasPledgedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadUserIdeasPledgedServlet</servlet-name>
    <url-pattern>/user/ideas/pledged</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadUserCommentsPostedServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.LoadUserCommentsPostedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadUserCommentsPostedServlet</servlet-name>
    <url-pattern>/user/comments/posted</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCommentServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.AddCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentServlet</servlet-name>
    <url-pattern>/user/comment/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCommentServlet</servlet-name>
    <url-pattern>/admin/comment/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCommentsAdminServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.AddCommentsAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentsAdminServlet</servlet-name>
    <url-pattern>/admin/addCommentsAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddThumbsServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.AddThumbsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddThumbsServlet</servlet-name>
    <url-pattern>/user/thumbs/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddThumbsServlet</servlet-name>
    <url-pattern>/admin/thumbs/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPledgeServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.AddPledgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPledgeServlet</servlet-name>
    <url-pattern>/user/fund/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPledgeServlet</servlet-name>
    <url-pattern>/admin/fund/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddEvaluationServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.AddEvaluationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEvaluationServlet</servlet-name>
    <url-pattern>/user/evaluation/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddEvaluationServlet</servlet-name>
    <url-pattern>/admin/evaluation/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddIdeaServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.AddIdeaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddIdeaServlet</servlet-name>
    <url-pattern>/user/idea/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddIdeaServlet</servlet-name>
    <url-pattern>/admin/idea/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditIdeaPhaseServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.EditIdeaPhaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditIdeaPhaseServlet</servlet-name>
    <url-pattern>/admin/ideaPhase/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditIdeaServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.EditIdeaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditIdeaServlet</servlet-name>
    <url-pattern>/user/idea/edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditIdeaServlet</servlet-name>
    <url-pattern>/admin/idea/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditCommentsServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.EditCommentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCommentsServlet</servlet-name>
    <url-pattern>/user/comments/edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditCommentsServlet</servlet-name>
    <url-pattern>/admin/comments/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteIdeaServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.DeleteIdeaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteIdeaServlet</servlet-name>
    <url-pattern>/user/idea/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteIdeaServlet</servlet-name>
    <url-pattern>/admin/idea/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCommentsServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.DeleteCommentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCommentsServlet</servlet-name>
    <url-pattern>/user/comments/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCommentsServlet</servlet-name>
    <url-pattern>/admin/comments/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewUserServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.NewUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUserServlet</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageUsersServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.ManageUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUsersServlet</servlet-name>
    <url-pattern>/admin/manageUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageCommentsServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.ManageCommentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageCommentsServlet</servlet-name>
    <url-pattern>/admin/manageComments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageIdeasServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.ManageIdeasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageIdeasServlet</servlet-name>
    <url-pattern>/admin/manageIdeas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageScoresServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.ManageScoresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageScoresServlet</servlet-name>
    <url-pattern>/admin/manageScores</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageEvalsServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.ManageEvalsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageEvalsServlet</servlet-name>
    <url-pattern>/admin/manageEvals</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageFundsServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.ManageFundsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageFundsServlet</servlet-name>
    <url-pattern>/admin/manageFunds</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/admin/addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddScoreServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.AddScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddScoreServlet</servlet-name>
    <url-pattern>/admin/addScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddEvalServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.AddEvalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEvalServlet</servlet-name>
    <url-pattern>/admin/addEval</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddFundServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.AddFundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFundServlet</servlet-name>
    <url-pattern>/admin/addFund</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SeeUserServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.SeeUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeeUserServlet</servlet-name>
    <url-pattern>/admin/seeUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SeeScoreServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.SeeScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeeScoreServlet</servlet-name>
    <url-pattern>/admin/seeScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SeeEvalServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.SeeEvalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeeEvalServlet</servlet-name>
    <url-pattern>/admin/seeEval</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SeeFundServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.SeeFundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeeFundServlet</servlet-name>
    <url-pattern>/admin/seeFund</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/admin/editUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditScoreServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.EditScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditScoreServlet</servlet-name>
    <url-pattern>/admin/editScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditEvalServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.EditEvalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEvalServlet</servlet-name>
    <url-pattern>/admin/editEval</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditFundServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.EditFundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFundServlet</servlet-name>
    <url-pattern>/admin/editFund</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveUserServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.RemoveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveUserServlet</servlet-name>
    <url-pattern>/admin/removeUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveScoreServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.RemoveScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveScoreServlet</servlet-name>
    <url-pattern>/admin/removeScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveEvalServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.RemoveEvalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveEvalServlet</servlet-name>
    <url-pattern>/admin/removeEval</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveFundServlet</servlet-name>
    <servlet-class>com.utc.projetAPI01.servlets.RemoveFundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFundServlet</servlet-name>
    <url-pattern>/admin/removeFund</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>NormalUserFilter</filter-name>
    <filter-class>com.utc.projetAPI01.filters.NormalUserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NormalUserFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
</web-app>